/*/idea
/*/.DS_Store
node_modules
.DS_Store
Java/.DS_Store
Java/image-management-with-spring-boot/.DS_Store
Java/spring-boot-rest-api/.DS_Store
Java/spring-boot-rest-api/src/.DS_Store
Java/spring-boot-rest-api/src/main/.DS_Store
Typescript/starter-project/.DS_Store
Java/.DS_Store
Java/spring-boot-rest-api/.DS_Store
Java/spring-boot-rest-api/src/.DS_Store
